body {
    overflow-x: hidden;
    background-color: #78909c !important
  }

  .content {
    display: none;
  }

  .card:hover .content {
    display: block;
    background-color: rgba(0, 0, 0, 0.222);
    border-radius: 3px;
    min-height: 30%;
  }

  .movie-card :hover .favorite_icon {
    color: #e6e32bf5;
  }

  .movie-card :hover .recommend_icon {
    color: gainsboro;
  }

  .app-bar{
    background-color: #263238 !important;
  }

  .title-login {
    color: #795548 !important;
  }

  .button-login {
    background-color: #795548 !important;
  }

  .modal-login {
    background-color: #d7ccc85f !important;
  }